<footer>
    <div class="social-links">
        <a href=""><i class="fa-brands fa-facebook"></i></a>
        <a href=""><i class="fa-brands fa-instagram"></i></a>
        <a href=""><i class="fa-brands fa-twitter"></i></a>
    </div>
    <div class="company">&copy; WonderLust Private Limited</div>
    <div class="links">
        <a href="">privacy || policy</a>
        <a href="">Custom</a>
    </div>
</footer>