<% layout('/layouts/boilerplate') %>
<body>
    <h1>Add list</h1>
    <form  method="post" action="">
        <lable for="">Title<input name="title" type="text" value="" id=""></lable>
        <br>
        <lable for="">description<input name="description" type="text" value="" id=""></lable>
        <br>
        <lable for="">image link<input name="image" type="text" value="" id=""></lable>
        <br>
        <lable for="">price<input name="price" type="text" value="" id=""></lable>
        <br>
        <lable for="">location<input name="location" type="text" value="" id=""></lable>
        <br>
        <lable for="">country<input name="country" type="text" value="" id=""></lable>
        <br>
    <button>Add</button>
    </form>
</body>
